@model ClinicaVeterinariaWebApp.Models.Visit

@{
    ViewData["Title"] = "Delete";
}

<h1>Cancella</h1>

<h3>Sei sicuro di voler cancellare questa visita?</h3>
<div>
    <h4>Visita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data della visita
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
        <dt class="col-sm-2">
            Esame obiettivo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ObjectiveExam)
        </dd>
        <dt class="col-sm-2">
            Trattamento prescritto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrescribedTreatment)
        </dd>
        <dt class="col-sm-2">
            Animale
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name) - @Html.DisplayFor(model => model.Animal.OwnerFirstName) @Html.DisplayFor(model => model.Animal.OwnerLastName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancella" class="btn btn-danger" /> |
        <a asp-action="Index">Ritorna alla lista</a>
    </form>
</div>
