@model IEnumerable<ClinicaVeterinariaWebApp.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectiveExam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrescribedTreatment)
            </th>
            <th>
                Animal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectiveExam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescribedTreatment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name) - @Html.DisplayFor(modelItem => item.Animal.OwnerFirstName) @Html.DisplayFor(modelItem => item.Animal.OwnerLastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
