@model IEnumerable<ClinicaVeterinariaWebApp.Models.Visit>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create"><span class="fs-2"> + </span> Inserisci una nuova visita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data della Visita
            </th>
            <th>
                Esame Obiettivo
            </th>
            <th>
                Trattamento Prescritto
            </th>
            <th>
                Animale
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectiveExam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescribedTreatment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name) - @Html.DisplayFor(modelItem => item.Animal.OwnerFirstName) @Html.DisplayFor(modelItem => item.Animal.OwnerLastName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
