@model IEnumerable<ClinicaVeterinariaWebApp.Models.Shelter>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Canile</h1>

<div class="row text-center">
    <div class=" col">
        <img src="/img/canile.gif" alt="immagine cane guardia" style="width:300px;height:auto;" class="mt-5" />
    </div>
</div>


<p>
    <a asp-action="Create"><span class="fs-2"> + </span> Inserisci un nuovo ospite</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Tipo
            </th>
            <th>
                Colore del Mantello
            </th>
            <th>
                Data di Ammissione
            </th>
            <th>
                Foto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoatColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionDate)
                </td>
                <td>
                    <img src="@item.PhotoUrl" alt="Foto dell'animale" style="width:100px;height:auto;" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
