@model IEnumerable<ClinicaVeterinariaWebApp.Models.Drawer>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create"><span class="fs-2"> + </span> Inserisci nuovo cassetto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero
            </th>
            <th>
               Codice Armadietto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cabinet.Code)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
