@model ClinicaVeterinariaWebApp.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drawer.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drawer.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drawer.Cabinet.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drawer.Cabinet.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
