@model ClinicaVeterinariaWebApp.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h1>Dettagli prodotto</h1>

<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Tipo di Prodotto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType)
        </dd>
        <dt class="col-sm-2">
            Usi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uses)
        </dd>
        <dt class="col-sm-2">
            Fornitore
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            Numero Cassetto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drawer.Number)
        </dd>
        <dt class="col-sm-2">
            Codice Armadietto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drawer.Cabinet.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Modifica</a> |
    <a asp-action="Index" class="btn btn-secondary">Ritorna alla lista</a>
</div>
