@model IEnumerable<ClinicaVeterinariaWebApp.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.ProductType)</th>
            <th>@Html.DisplayNameFor(model => model.Supplier.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Drawer.Number)</th>
            <th>@Html.DisplayNameFor(model => model.Drawer.Cabinet.Code)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductType)</td>
                <td>@Html.DisplayFor(modelItem => item.Supplier.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Drawer.Number)</td>
                <td>@Html.DisplayFor(modelItem => item.Drawer.Cabinet.Code)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
