@model IEnumerable<ClinicaVeterinariaWebApp.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Prodotto</h1>

<p>
    <a asp-action="Create"><span class="fs-2"> + </span> Inserisci nuovo prodotto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo di Prodotto</th>
            <th>Fornitore</th>
            <th>Numero Cassetto</th>
            <th>Codice Armadietto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductType)</td>
                <td>@Html.DisplayFor(modelItem => item.Supplier.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Drawer.Number)</td>
                <td>@Html.DisplayFor(modelItem => item.Drawer.Cabinet.Code)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
