@model IEnumerable<ClinicaVeterinariaWebApp.Models.Visit>

@{
    ViewData["Title"] = "Storico Visite";
}

<h1>Storico visite</h1>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Data Visita
                </th>
                <th>
                    Esame Obiettivo
                </th>
                <th>
                    Trattamento Prescritto
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ObjectiveExam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrescribedTreatment)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-action="Details" asp-controller="Animals" asp-route-id="@ViewBag.AnimalId" class="btn btn-secondary">Ritorna al dettaglio</a>
</div>
