@model IEnumerable<ClinicaVeterinariaWebApp.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h3>
    <a asp-action="Create"> <span class="fs-2"> + </span> Inserisci nuovo fornitore</a>
</h3>
<table class="table" style="background-color: white;">
    <thead>
        <tr>
            <th>
                Nome Fornitore
            </th>
            <th>
                Indirizzo
            </th>
            <th>
                Rappresentante ditta
            </th>
            <th>
                Telefono 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPhone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
