@model IEnumerable<ClinicaVeterinariaWebApp.Models.Sale>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create"><span class="fs-2"> + </span> Inserisci una nuova vendita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Codice Fiscale Cliente
            </th>
            <th>
                Prodotto
            </th>
            <th>
                Numero Prescrizione
            </th>
            <th>
                Data di Vendita
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerFiscalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrescriptionNumber)
                </td>
                <td>
                    @item.SaleDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Cancella</a>
                </td>
            </tr>
        }
    </tbody>
</table>
